<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>
    <div class="container main-content form"><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>
    <div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/admin/seat/update}" th:object="${seat}"
		    method="POST" novalidate="novalidate">
		    <input type="hidden" th:field="*{id}" />
		    <div class="form-group">
		        <label>Seat code</label>
		        <input type="text" class="form-control"
		            th:field="*{seatCode}"readonly="readonly"/>
		    </div>
		    <div class="form-group">
		        <label>Price per hour</label>
		        <input type="text" class="form-control" th:field="*{pricePerHour}" />
		    </div>
		    <div class="form-group">
		        <label>Note</label>
		        <input type="text" class="form-control" th:field="*{note}" />
		    </div>
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
        </div>
    </div><!-- /.container -->
    <footer th:replace="layout :: footer"></footer>
</body>
</html>