<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<h1 style="text-align: center;">ROOM BOOKING</h1>
	<h3 style="color: red; text-align: center;" th:utext="${bookingFailed}"></h3>  
	<div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/user/roomBooking/bookingDone}" th:object="${room_booking}"
		    method="POST" novalidate="novalidate">
		    <input type="hidden" th:field="*{id}" />
		    <input type="hidden" th:field="*{userName}" />
		    <div class="form-group">
		        <label>Room code</label>
				<select onchange="getID()" id="roomCode" th:field="*{roomCode}">
	                         <option value=""> -- </option>
	                         <option th:each="key : ${roomCodes}"
	                         		 th:value="${key.roomCode}"
	                                 th:utext="${key.roomCode}">
	                         </option>
	             </select>
		    </div>
		    <div class="form-group">
		        <label>Price per hour</label>
		        <input id="price" type="text" class="form-control" th:field="*{pricePerHour}" />
		    </div>
		    <script th:inline="javascript">
             	var roomCodes = [[${roomCodes}]]
             	
             	function chooseRoom(id) {	
	             	for(var i=0; i<roomCodes.length; i++) {
						if(id==roomCodes[i].roomCode) {
							var price = document.getElementById("price");
							price.value = roomCodes[i].pricePerHour;
						}
					}
				}
				
		    	var e = document.getElementById("roomCode");
				function getID(){
				  var strID = e.options[e.selectedIndex].value;
				  console.log(strID);
				  chooseRoom(strID);
				}
					
             </script>
		    <div class="form-group">
		        <label>Date</label>
		        <input type="date" class="form-control" th:field="*{dayBK}" />
		    </div>
		   	<div class="form-group">
		        <label>Start time (HH:mm)</label>
		        <input type="time" class="form-control" th:field="*{startTime}" />
		    </div>
		    <div class="form-group">
		        <label>End time (HH:mm)</label>
		        <input type="time" class="form-control" th:field="*{endTime}" />
		    </div>
		    <button type="submit" class="btn btn-primary">Booking</button>
		</form>
        </div>
    </div><!-- /.container -->
    <footer th:replace="layout :: footer"></footer>
</body>
</html>