<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
      
      <h2>Booking page</h2>
      <h3>Hello, 
         <span th:utext="${#request.userPrincipal.name}"></span>
      </h3>
      <a href="http://localhost:8080/user/roomBooking">Room Booking</a>
      <br/>
      <a href="http://localhost:8080/user/seatBooking">Seat Booking</a>
      
   </body>
   
</html>